<!DOCTYPE html>
<html lang="en">
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Password Details</title>

    <!-- Fonts -->
    <link
      rel="stylesheet"
      href="assets/plugins/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700"
    />

    <!-- Styles -->
    <link
      rel="stylesheet"
      href="assets/plugins/bootstrap/css/bootstrap.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Bad+Script&amp;display=swap"
      rel="stylesheet"
    />

    <style type="text/css">
      .navbar-header {
        font-family: "Bad Script", sans-serif !important;
      }
    </style>
  </head>
  <body id="app-layout">
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <!-- Collapsed Hamburger -->
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#app-navbar-collapse"
          >
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <!-- Branding Image -->
          <a class="navbar-brand" href="/">
            <i class="fa fa-id-card fa-lg text-success"></i> Password Managment
          </a>
        </div>

        <div class="collapse navbar-collapse" id="app-navbar-collapse">
          <!-- Left Side Of Navbar -->
          <ul class="nav navbar-nav"></ul>

          <!-- Right Side Of Navbar -->
          <ul class="nav navbar-nav navbar-right">
            <li class="nav navbar-nav">
              <a href="/dashboard"> Dashboard</a>
            </li>
            <!-- Authentication Links -->
            <li>
              <a href="/logout"> <i class="fa fa-sign-in"></i> LogOut</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <h2 class="text-center"><%= title %></h2>
    <br /><br />

    <div class="container">
      <div class="text-center">
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#addNewCategory"
        >
          Add New Password
        </button>
        <button type="button" class="btn btn-warning">
          <a href="/passwordCategory">Category Details</a>
        </button>
      </div>
    </div>
    <br /><br />
    <div class="container">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-primary">
              <div class="panel-heading">Password Details List</div>
              <div class="panel-body">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Password Category</th>
                      <th scope="col">Password Details</th>
                      <th scope="col">Author</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% value.forEach(function(row){ %>
                    <tr>
                      <td><%= row.addPasswordCategory %></td>
                      <td><%= row.passwordDatail %></td>
                      <td><%= row.author %></td>
                      <td>
                        <a
                          class="btn btn-primary btn-sm"
                          href="/passwordDetails/edit/<%= row._id%>"
                        >
                          <i class="fa fa-edit"></i
                        ></a>
                        <a
                          class="btn btn-danger btn-sm"
                          href="/passwordDetails/delete/<%= row._id%>"
                        >
                          <i class="fa fa-trash"></i
                        ></a>
                      </td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="addNewCategory"
      tabindex="-1"
      role="dialog"
      aria-labelledby="addNewCategoryLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="addNewCategoryLabel">
              Add Password Detail
            </h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container">
              <div class="container">
                <div class="row">
                  <div class="col-md-6 ">
                    <form
                      class="form-horizontal"
                      role="form"
                      method="POST"
                      action="/passwordDetails"
                    >
                      <div class="form-group">
                        <label
                          for="addPasswordCategory"
                          class="col-md-4 control-label"
                          >Add Password Category</label
                        >
                        <div class="col-md-6">
                          <select
                            class="form-control"
                            name="addPasswordCategory"
                            id=""
                          >
                            <option value="">Choose Password Category</option>
                            <% data.forEach(function(row){ %>
                            <option value="<%= row.addNewCategory%>"
                              ><%= row.addNewCategory %></option
                            >
                            <% }) %>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="project_name" class="col-md-4 control-label"
                          >Project Name</label
                        >

                        <div class="col-md-6">
                          <input
                            id="project_name"
                            type="text"
                            class="form-control"
                            name="projectName"
                            placeholder="Enter project Name"
                          />
                        </div>
                      </div>

                      <div class="form-group">
                        <label
                          for="PasswordDetails"
                          class="col-md-4 control-label"
                          >Password Details</label
                        >
                        <div class="col-md-6">
                          <textarea
                            id="pass-details"
                            class="form-control"
                            name="passwordDatail"
                            placeholder="Add Password Details"
                          >
                          </textarea>
                          <input
                            type="hidden"
                            name="author"
                            value="<%=loginUser%>"
                          />
                        </div>
                      </div>

                      <div class="text-center">
                        <button
                          type="button"
                          class="btn btn-danger"
                          data-dismiss="modal"
                        >
                          Cansel
                        </button>
                        <button type="submit" class="btn btn-primary">
                          Save
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- JavaScripts -->
    <script src="assets/plugins/jquery/jquery.js"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/plugins/intercooler-js/intercooler.js"></script>
  </body>
</html>
